.flexcomponent.flexy > .CodeMirror {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flexcomponent.flexy > .CodeMirror > .CodeMirror-scroll {
    flex: 1;
}

.ReactCodeMirror {
    height: 100%;
}

.eval-success {
    background-color: rgba(190, 230, 190, 200);
}
