.mini-window {
    border: 2px solid #A4A4A4;
    border-radius: .25rem;
    height: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
}

.mini-collapsed > .window-header {
    flex: 1;
    word-break: break-all;
}

.mini-collapsed > .window-header :not(.window-title) {
    display: none;
}

.mini-collapsed > .window-content, .mini-collapsed > .window-footer {
    display: none !important;
}

.window-header {
    padding: 0rem .20rem;
    background-color: #C4C4C4;
}

.window-title {
    font-family: Georgia,sans-serif;
    font-size: 22px;
    display: inline-block;
}

.window-content {
    flex: 1;
}

.window-footer {
    background-color: #DDDDDD;
    padding: .1rem 1rem;
}

.window-footer.no-content {
    padding: 0;
}

.noselect {
    user-select: none;
}
