.rootPage {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.flexcomponent {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flexy {
    flex: 1 0 auto;
}

nav {
    margin-bottom: 3px !important;
}
